@reference "../../../../../packages/theme/global.css";

.authBox {
  @apply flex flex-col w-dvw h-dvh box-border p-10 bg-background;
  .contentBox {
    @apply flex flex-row max-w-[50vw] m-auto rounded-lg shadow-md transition-all duration-300 ease-in-out bg-white;
    border-radius: 6%;
    .slogan {
      @apply text-center bg-primary hidden lg:block;
      border-radius: 6%;
      .loginBG {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8%;
      }
      .sloganText {
        @apply text-2xl mt-6 font-family-friendly;
      }
    }
    .loginForm {
      @apply flex flex-1 flex-col justify-center box-border p-10 lg:p-16;
      .welcomeText {
        @apply text-2xl mb-5 text-center;
      }
      .baseForm {
        @apply w-full lg:min-w-[20vw] lg:mb-2;
      }
    }
  }
}
