@reference "../../../../../../packages/assets/theme/global.css";
.loginBox {
  @apply flex min-h-full justify-between flex-col lg:flex-row;
  .welcomeBanner {
    @apply flex flex-1;
    .loginBG {
      @apply w-full lg:h-[100vh] lg:w-[60vw] relative object-cover;
    }
  }
  .loginForm {
    @apply flex justify-center lg:max-w-[40vw] flex-col box-border p-[6%];
    .welcomeText {
      @apply text-4xl mb-4 text-center;
    }
    .baseForm {
      @apply w-full lg:w-[30vw] lg:mb-5;
    }
    .help {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
