@reference "../../../../../../packages/assets/theme/global.css";

.loginBox {
  @apply flex flex-col w-dvw h-dvh box-border p-10 bg-amber-100;
  .contentBox {
    @apply flex flex-row max-w-[50vw] m-auto bg-white;
    border-radius: 6%;
    .slogan {
      @apply flex flex-col gap-10 justify-center items-center bg-amber-200;
      border-radius: 6%;
      .loginBG {
        width: 100%;
        object-fit: cover;
        border-radius: 8%;
      }
      .sloganText {
        @apply text-xl font-family-friendly;
      }
    }
    .loginForm {
      @apply flex flex-1 flex-col justify-center box-border p-16;
      .welcomeText {
        @apply text-2xl mb-5 text-center;
      }
      .baseForm {
        @apply w-full lg:min-w-[20vw] lg:mb-2;
      }
    }
  }
}
