@reference "../../../packages/theme/global.css";
.brand {
  @apply flex flex-row items-center gap-3 cursor-pointer mr-auto;
  .logo {
    @apply w-10 h-auto;
  }
  .name {
    @apply text-3xl font-family-friendly text-primary-dark font-semibold;
  }
}
